:root {
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Mono", "monospace";
  color: #333;
  text-rendering: optimizeLegibility;
  background-color: rgb(251, 254, 251);
  /* font-size: 16px; */
}

* {
  font-family: "IBM Plex Mono", "monospace";
}

html {
  background-color: rgb(251, 254, 251);
}

body {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 0px;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  body {
    width: unset;
    min-width: 100%;
    padding: 0rem;
    height: unset;
    min-height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #ccc;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 0;
}

h1 {
  font-size: 2rem !important;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

iframe {
  border: none;
  overflow: hidden;
}

#post-content blockquote {
  background: rgba(0, 108, 172, 0.05);
  margin: unset;
  padding: 1rem;
  font-style: italic;
  border-left: 0.5rem solid rgb(0, 108, 172);
}

#post-content .post-p-image {
  text-align: center;
}

#post-content a {
  color: rgb(0, 108, 172);
}