---
export interface Props {
}

export function getStaticPaths() {
  return [
    {params: {id: "clifford"}},
    {params: {id: "rover"}},
    {params: {id: "spot"}},
  ];
}

---

<div id="post">
  post
</div>

<style is:global>

</style>
