---
export interface Props {
}

export function getStaticPaths() {
  return [
    {params: {post: 'clifford'}},
    {params: {post: 'rover'}},
    {params: {post: 'spot'}},
  ];
}

---

<div id="post">
  post
</div>

<style is:global>

</style>
