---
import type { Entries } from '../types';
import Entry from './Entry.astro';

export interface Props {
	entries: Entries;
}

const { entries } = Astro.props;
---

<main id="entries">
	{entries.map(entry => <Entry {...entry} />)}
</main>

<style is:global>
	#entries {
    text-align: left;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

</style>
