---
export interface Props {
  iconName: string;
  href: string;
  title?: string;
  newTab?: boolean;
}

const { iconName, href, title, newTab } = Astro.props;

---

<a href={href} rel="noreferrer" target={newTab ? "_blank": "_self"} class="footer-link" title={title}>
  <i class={`ti ti-${iconName}`}></i>
</a>

<style is:global>
  .footer-link {
    display: block;
    color: unset;
    text-align: right;
    text-decoration: none;
    box-sizing: border-box;
  }

  .footer-link i {
    line-height: unset;
    display: block;
  }

  .footer-link:hover {
    text-decoration: none;
    color: rgb(0, 108, 172);
  }

</style>
