---
import { LINKS } from "@utils/links";
import FooterLink from "./FooterLink.astro";

export interface Props {
}

---

<footer id="footer">
  <span id="footer-copyright">Long Hoang</span>
  <div id="footer-social">
    {LINKS.map(link => <FooterLink {...link}/>)}
  </div>
</footer>

<style is:global>
  #footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #666;
    padding: 1.2rem 0px;
  }

  #footer-social {
    display: flex;
  }
</style>
