---
import SearchBar from "./SearchBar.astro";

export interface Props {
}

let isSearchBarActive = true;

function toggleSearchBar() {

}

---

<header id="header">
  <div id="header-blog-title">
    <img id="avatar-mobile" src="/avatar.jpg" />
    <a id="header-blog-name" href="/"><h3>Long's blog</h3></a>
  </div>
  <div id="header-fn">
    <a id="header-fn-abt">About</a>
    <a id="header-fn-search" href="/search"><i class="ti ti-search"></i></a>
    <!-- <div><i class="ti ti-moon"></i></div> -->
  </div>
</header>

<style is:global>
  #avatar-mobile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  #header {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    border-bottom: 3px solid #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    /* background-color: red; */
  }

  #header-fn-abt {
    margin-right: calc(1rem + 7px) !important;
  }

  #header-fn-abt {
    display: block;
  }

  #header-fn-search:hover {
    text-decoration: none;
  }

  #header-fn div {
    margin-right: 1rem;
  }

  #header-fn div:last-child {
    margin-right: -7px;
  }

  #header-blog-title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  #header-blog-title h3 {
    margin: unset;
  }

  #header-blog-name {
    margin-left: 1rem;
  }

  #header-fn {
    display: flex;
    align-items: center;
  }

  #header-fn i:hover {
    color: rgb(0, 108, 172);
    cursor: pointer;
  }

</style>
