---
import type { Posts } from "../types";
import PostItem from "./PostItem.astro";

export interface Props {
	posts: Posts;
}

const { posts } = Astro.props;
---
<main id="entries">
	{!posts.length && <i>So sorry, there is no post yet!</i>}
	{posts.map(post => <PostItem {...post} />)}
</main>

<style is:global>
	#entries {
    text-align: left;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

</style>
