---

---

<div class="search-bar">
  <i class="ti ti-search"></i>
  <input placeholder="Search..." />
</div>

<style is:global>

  .search-bar {
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
    display: flex;
    background: #fff;
    max-width: 100%;
    border: 1px solid #fff;
    height: 1.5rem;
    align-items: stretch;
    justify-content: flex-end;
    align-self: stretch;
  }

  .search-bar i {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar input {
    outline: unset;
    border: unset;
    background: #fff;
    margin-left: 5px;
    padding: 0px;
    font-family: inherit;
    font-style: italic;
    align-self: stretch;
    width: 100%;
  }

  .side-sep {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

</style>
