---
export interface Props {}
---

<div id="side">
	<img id="avatar" src="avatar.webp" />
  <div id="name">Long Hoang</div>
  <div id="self-desc">Very curious. Don't talk much. Love teas, plants & cats. Learning cloud, security and French. Reversing everything</div>
  <br class="sep" />
  
  <div>About Me</div>
  <div>Tags</div>
  <div>Github</div>
  <div>Linkedin</div>
  
  <br class="sep" />
  <div>Search</div>
  <div>Light/Dark THeme</div>
</div>
<style>
  #side {
    background: #f5f6fa;
    justify-items: stretch;
    width: 360px;
    text-align: right;
    padding: 3.125rem 1.25rem;
  }
  
  #avatar {
    border-radius: 50%;
    width: 10rem;
    margin-bottom: 0.5rem;
  }

  #name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  #self-desc {
    color: #888;
  }

  .sep {
    
  }

</style>
