---
export interface Props {
  iconName?: string;
  href: string;
  title?: string;
  newTab?: boolean;
}

const { iconName, href, title, newTab } = Astro.props;

---

<a href={href} rel="noreferrer" target={newTab ? "_blank" : "_self"} class="side-link">
  {iconName && <i class={`ti ti-${iconName}`}></i>}
  {title && <span>{title}</span>}
</a>

<style is:global>
  .side-link {
    display: block;
    color: unset;
    text-align: right;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }

  .side-link i {
    line-height: unset;
  }

  .side-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

</style>
