---
import Entries from '@components/Entries.astro';
import Navigation from '@components/Navigation.astro';
import Side from '@components/Side.astro';
import Layout from '@layouts/Layout.astro';

export interface Props {}

const entries = [...new Array(20)].map(e => ({
    title:"Lorem Ipsum is simply dummy text of the printing and typesetting industry.", 
    date: "2023-04-03",
    href: "/abc",
    tags: ["tag1", "tag2"],
  }))

---
<Layout>
  <div id="main-desktop">
    <Side />
    <div id="entries-wrapper">
      <Entries entries={entries} />
      <Navigation />
    </div>
  </div>
</Layout>

<style>
  #main-desktop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 0.5%;
    box-shadow: 5px 0px 10px 10px #ccc;
    background: white;
  }

  @media (max-width: 1024px) {
    #main-desktop {
      display: none;
    }
  }

  #entries-wrapper {
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

</style>
