---
import Entries from '@components/Entries.astro';
import HeaderMobile from '@components/HeaderMobile.astro';
import FooterMobile from '@components/FooterMobile.astro';
import Layout from '@layouts/Layout.astro';
import Navigation from '@components/Navigation.astro';

export interface Props {}

const entries = [...new Array(20)].map(e => ({
    title:"Lorem Ipsum is simply dummy text of the printing and typesetting industry.", 
    date: "2023-04-03",
    href: "/abc",
    tags: ["tag1", "tag2"],
  }))

---
<Layout>
  <div id="main-mobile">
    <HeaderMobile />
    <div id="entries-wrapper">
      <Entries entries={entries} />
      <Navigation />
    </div>
    <FooterMobile />
  </div>
</Layout>

<style>
  #main-mobile {
    max-width: 48rem;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
  
  @media (min-width: 1024px) {
    #main-mobile {
      display: none;
    }
  }

  #entries-wrapper {
		padding-top: 1.25rem;
    padding-bottom: 1.25rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
</style>
