---
import PostList from "@components/PostList.astro";
import Navigation from "@components/Navigation.astro";
import Side from "@components/Side.astro";
import Layout from "@layouts/Layout.astro";
import type { MainPage } from "@types";

export interface Props extends MainPage {}

const { posts, currentPage, maxPage } = Astro.props;

---
<Layout>
  <div id="main-desktop">
    <Side />
    <div id="entries-wrapper">
      <PostList posts={posts} />
      <Navigation currentPage={currentPage} maxPage={maxPage} />
    </div>
  </div>
</Layout>

<style>
  #main-desktop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 0.5%;
    box-shadow: 5px 0px 10px 10px #ccc;
    /* background: white; */
  }

  @media (max-width: 1024px) {
    #main-desktop {
      display: none;
    }
  }

  #entries-wrapper {
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

</style>
