---
import PostList from "@components/PostList.astro";
import Navigation from "@components/Navigation.astro";
import type { MainPage } from "@types";
import SingleColumn from "./SingleColumn.astro";

export interface Props extends MainPage {}

const { posts, currentPage, maxPage } = Astro.props;

---
<div id="main-mobile">
  <SingleColumn>
    <div id="entries-wrapper">
      <PostList posts={posts} />
      <Navigation currentPage={currentPage} maxPage={maxPage} />
    </div>
  </SingleColumn>
</div>

<style is:global>
  
  @media (min-width: 1024px) {
    #main-mobile {
      display: none !important;
    }
  }

  #entries-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
</style>
