---
import Entries from '../components/Entries.astro';
import Side from '../components/Side.astro';
import Layout from './Layout.astro';

export interface Props {}

const entries = [
  {
    title:"Title", 
    date: "2023-04-03",
    href: "/abc",
    tags: ["tag1", "tag2"],
  },
  {
    title:"Title", 
    date: "2023-04-03",
    href: "/abc",
    tags: ["tag1", "tag2"],
  },
  {
    title:"Title", 
    date: "2023-04-03",
    href: "/abc",
    tags: ["tag1", "tag2"],
  }
]

---
<Layout>
  <div id="main">
    <Side />
    <Entries entries={entries} />
  </div>
</Layout>

<style>
  #main {
    width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    display: flex;
    border-radius: 0.5%;
    box-shadow: 5px 0px 10px 10px #ccc;
    overflow: hidden;
  }
</style>
